@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lemon&family=Pacifico&display=swap');

body {
    margin: 0;
    padding: 0;
    
}
.logo{
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 2rem;
    background-color: yellow;
    display: flex;
    justify-content: center;
    align-items: center;
}  
.logo p{
    text-align: center;
}
.logo-img{
    text-align: center;
}

.nav-bar{ 
    display: flex;
    margin: auto;
    justify-content: center;
    padding-inline: 4rem;
    margin-bottom: 3rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: rgb(184, 138, 110);
    border-radius: 3rem;
    gap: 8rem;
}

.box img{
    width: 5rem;
    height: 5rem;
}
.box a{
    text-decoration: none;
    color: #000000;
    font-size: 1.5rem;

}
.box{
    text-align: center;
    transition: transform 0.3s ease;
}
.box:hover{
    transform: scale(1.3);
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    width: 100%;
    position: fixed;
    bottom: 0; 
}
footer .social-n{
    padding: 3rem;
}
footer p{
    padding-bottom: 3rem;
}

footer .fa{
    font-size: 3rem;
    color: white;
    border-radius: 1000rem;
    padding-inline: 2rem;
}

 /* For notifications*/
 .container{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 800px;
    height: 600px;
    background-color: #e04b4b;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
    border: 1rem solid #000000;

    

 }
 .message{
    position: absolute;
    top: 10px;
    left: 40%;
    transform: translateX(-30%);
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 2rem;
 }
 .link{
    display: flex;
    gap: 3rem;

 }
 .link a{
    font-family: "Pacifico";

    background-color: rgb(186, 211, 97);
    padding: 2rem;
    border-radius: .5rem;
    text-decoration: none;

 }
  .minBox img{
    width: 120px;
  }
.minBox {
    transition: transform 0.3s ease;
}
.minBox:hover {
    transform: scale(1.3);
}
.back{
    position: absolute;
    bottom: 10px;
    transition: transform 0.3s ease;

}
.back img{
    width: 75px;
}

.back:hover {
    transform: scale(1.3);
}